<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Serenity - Modern bootstrap website template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- styles -->
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="assets/css/docs.css" rel="stylesheet">
<link href="assets/css/prettyPhoto.css" rel="stylesheet">
<link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
<link href="assets/css/flexslider.css" rel="stylesheet">
<link href="assets/css/sequence.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/color/default.css" rel="stylesheet">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script src="assets/js/jquery-1.8.2.min.js"></script>
<script src="assets/js/jquery.easing.1.3.js"></script>
<script src="assets/js/google-code-prettify/prettify.js"></script>
<script src="assets/js/modernizr.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/jquery.elastislide.js"></script>
<script src="assets/js/sequence/sequence.jquery-min.js"></script>
<script src="assets/js/sequence/setting.js"></script>
<script src="assets/js/jquery.tweet.js"></script>
<script src="assets/js/jquery.prettyPhoto.js"></script>
<script src="assets/js/application.js"></script>
<script src="assets/js/jquery.flexslider.js"></script>
<!-- Portfolio hover -->
<script src="assets/js/hover/jquery-hover-effect.js"></script>
<script src="assets/js/hover/setting.js"></script>
<script src="assets/js/custom.js"></script>
<!-- fav and touch icons -->
<link rel="shortcut icon" href="assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
<header>
<!-- Navbar
    ================================================== -->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<!-- logo -->
			<a class="brand logo" href="index.html">
			<img src="assets/img/logo.png" alt="" />
			</a>
			<!-- end logo -->
			<!-- top menu -->
			<!-- end menu -->
		</div>
	</div>
</div>
</header>
<section id="intro">
<div class="jumbotron masthead">
	<div class="container">
		<!-- slider navigation -->
		<div class="sequence-nav">
			<div class="prev">
				<span></span>
			</div>
			<div class="next">
				<span></span>
			</div>
		</div>
		<!-- end slider navigation -->
		<div class="row">
			<div class="span12">
				<div id="slider_holder">
					<div id="sequence">
						<ul>
							<!-- Layer 1 -->
							<li>
							<!--div class="info animate-in">
								<h2>White Rabbit Press</h2>
								<br>
								<h3>Kanji & Kana Flashcards</h3>
								<p>
									Preferred by thousands of students, in over 80 countries, White Rabbit Press is the recognized world leader in Japanese kanji flashcards.
								</p>
								<a class="btn btn-success" target="_blank" href="http://shop.whiterabbitjapan.com/20-off-all-3-kanji-flashcard-sets.html">Learn more &raquo;</a>
							</div-->
							<img class="slider_img animate-in" src="assets/img/slides/sequence/img-1.png" alt="" />
							</li>
							<!-- Layer 2 -->
							<li>
							<div class="info animate-in">
								<h2>Kana Flashcards</h2>
								<br>
								<h3>Master Hiragana & Katakana</h3>
								<p>
									Makes studying easy with visual and verbal mnemonics. FREE audio pronunciation guide!
								</p>
								<a class="btn btn-success" target="_blank" href="http://shop.whiterabbitjapan.com/kana-flashcards.html">Learn more &raquo;</a>
							</div>
							<img class="slider_img" src="assets/img/slides/sequence/img-2.png" alt="" />
							</li>
							<!-- Layer 3 -->
							<li>
							<div class="info">
								<h2>Series 2, Volume 1</h2>
								<br>
								<h3>300 Basic Kanji</h3>
								<p>
									Suitable for beginning level students preparing for Levels N5 & N4 of the Japanese Language Proficiency Test. 
								</p>
								<a class="btn btn-success" target="_blank" href="http://shop.whiterabbitjapan.com/japanese-kanji-flashcards-series-2-volume-1.html">Learn more &raquo;</a>
							</div>
							<img class="slider_img" src="assets/img/slides/sequence/img-3.png" alt="" />
							</li>
							<!-- Layer 3 -->
							<li>
							<div class="info">
								<h2>Series 2, Volume 2</h2>
								<br>
								<h3>750 Intermediate Kanji</h3>
								<p>
									Suitable for intermediate level students preparing for Levels N3 and N2 of the Japanese Language Proficiency Test. 
								</p>
								<a class="btn btn-success" target="_blank" href="http://shop.whiterabbitjapan.com/japanese-kanji-flashcards-series-2-volume-2.html">Learn more &raquo;</a>
							</div>
							<img class="slider_img" src="assets/img/slides/sequence/img-3.png" alt="" />
							</li>
							<!-- Layer 3 -->
							<li>
							<div class="info">
								<h2>Series 2, Volume 3</h2>
								<br>
								<h3>895 Advanced Kanji</h3>
								<p>
									Suitable for advanced level students preparing for Level N1 of the Japanese Language Proficiency Test.
								</p>
								<a class="btn btn-success" target="_blank" href="http://shop.whiterabbitjapan.com/japanese-kanji-flashcards-series-2-volume-3.html">Learn more &raquo;</a>
							</div>
							<img class="slider_img" src="assets/img/slides/sequence/img-3.png" alt="" />
							</li>
						</ul>
					</div>
				</div>
				<!-- Sequence Slider::END-->
			</div>
		</div>
	</div>
</div>
</section>
<section id="maincontent">
<div class="container">
	<div class="row">
		<div class="span3 features">
			<i class="icon-circled icon-32 icon-suitcase left active"></i>
			<h4>Comprehensive</h4>
			<div class="dotted_line">
			</div>
			<p class="left">
				 Includes all 1945 Joyo kanji, vocab words and phrases with commonly used kanji compounds. Suitable for JLPT N5 through N1 learners.
			</p>
			<a href="#">Learn more</a>
		</div>
		<div class="span3 features">
			<i class="icon-circled icon-32 icon-plane left"></i>
			<h4>Convenient</h4>
			<div class="dotted_line">
			</div>
			<p class="left">
				 The perfect size and Leitner method-compatible, you can use these cards to study effectively and brush up on your weak points anywhere
			</p>
			<a href="#">Learn more</a>
		</div>
		<div class="span3 features">
			<i class="icon-circled icon-32 icon-leaf left"></i>
			<h4>Feature-Rich</h4>
			<div class="dotted_line">
			</div>
			<p class="left">
				 Includes stroke-by-stroke diagrams and our look-alike kanji feature which helps you indentify confusingly similar kanji
			</p>
			<a href="#">Learn more</a>
		</div>
		<div class="span3 features">
			<i class="icon-circled icon-32 icon-wrench left"></i>
			<h4>Durable</h4>
			<div class="dotted_line">
			</div>
			<p class="left">
				 Varnished with rounded corners. Includes a complete index. Boxed with plastic tray and shrink-wrapped.    
			</p>
			<a href="#">Learn more</a>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="tagline centered">
				<div class="row">
					<div class="span12">
						<div class="tagline_text">
							<h2>Don't miss this special offer for limited time only!</h2>
							<p>
								Lorem ipsum dolor sit amet, vix ceteros noluisse intellegat ne, ex nec insolens liberavisse, no adhuc causae nominati duo.
							</p>
						</div>
						<div class="btn-toolbar cta">
							<a class="btn btn-large btn-color" href="#">
							<i class="icon-plane icon-white"></i> Try free version </a>
							<a class="btn btn-large btn-inverse" href="#">
							<i class="icon-shopping-cart icon-white"></i> Buy license </a>
						</div>
					</div>
				</div>
			</div>
			<!-- end tagline -->
		</div>
	</div>
</div>
</section>
<!-- Footer
 ================================================== -->
<footer class="footer">
<div class="container">
	<div class="row">
		<div class="span3">
			<div class="widget">
				<h5>Browse pages</h5>
				<ul class="regular">
					<li><a href="#">Work for us</a></li>
					<li><a href="#">Creative process</a></li>
					<li><a href="#">Case study</a></li>
					<li><a href="#">Scaffold awwards</a></li>
					<li><a href="#">Meet the team</a></li>
				</ul>
			</div>
		</div>
		<div class="span3">
			<div class="widget">
				<h5>Recent blog posts</h5>
				<ul class="regular">
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Mea malis nominavi insolens ut</a></li>
					<li><a href="#">Minim timeam has no aperiri sanctus ei mea per pertinax</a></li>
					<li><a href="#">Te malorum dignissim eos quod sensibus</a></li>
				</ul>
			</div>
		</div>
		<div class="span3">
			<div class="widget">
				<h5>Latest tweets</h5>
				<div class="twitter">
				</div>
				<script type="text/javascript">
						$(document).ready(function(){
						   //TWITTER
							$(".twitter").tweet({
								  join_text: "auto",
								  username: "wrapbootstrap",
								  avatar_size: 20,
								  count: 2,
								  auto_join_text_default: "we said,",
								  auto_join_text_ed: "we",
								  auto_join_text_ing: "we were",
								  auto_join_text_reply: "we replied",
								  auto_join_text_url: "we were checking out",
								  loading_text: "loading tweets..."
							});
						});
					</script>
			</div>
		</div>
		<div class="span3">
			<div class="widget">
				<!-- logo -->
				<a class="brand logo" href="index.html">
				<img src="assets/img/logo-dark.png" alt="" />
				</a>
				<!-- end logo -->
				<address>
				<strong>Registered Companyname, Inc.</strong><br>
				 8895 Somename Ave, Suite 600<br>
				 San Francisco, CA 94107<br>
				<abbr title="Phone">P:</abbr> (123) 456-7890 </address>
			</div>
		</div>
	</div>
</div>
<div class="verybottom">
	<div class="container">
		<div class="row">
			<div class="span6">
				<p>
					&copy; Serenity 2013 - All right reserved
				</p>
			</div>
			<div class="span6">
				<p class="pull-right">
					Designed by <a href="http://iweb-studio.com">iWebStudio</a>
				</p>
			</div>
		</div>
	</div>
</div>
</footer>
</body>
</html>