<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Serenity - Modern bootstrap website template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- styles -->
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="assets/css/docs.css" rel="stylesheet">
<link href="assets/css/prettyPhoto.css" rel="stylesheet">
<link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
<link href="assets/css/flexslider.css" rel="stylesheet">
<link href="assets/css/sequence.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/color/default.css" rel="stylesheet">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script src="assets/js/jquery-1.8.2.min.js"></script>
<script src="assets/js/jquery.easing.1.3.js"></script>
<script src="assets/js/google-code-prettify/prettify.js"></script>
<script src="assets/js/modernizr.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/jquery.elastislide.js"></script>
<script src="assets/js/sequence/sequence.jquery-min.js"></script>
<script src="assets/js/sequence/setting.js"></script>
<script src="assets/js/jquery.tweet.js"></script>
<script src="assets/js/jquery.prettyPhoto.js"></script>
<script src="assets/js/application.js"></script>
<script src="assets/js/jquery.flexslider.js"></script>
<!-- Portfolio hover -->
<script src="assets/js/hover/jquery-hover-effect.js"></script>
<script src="assets/js/hover/setting.js"></script>
<script src="assets/js/custom.js"></script>
<!-- fav and touch icons -->
<link rel="shortcut icon" href="assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
<header>
<!-- Navbar
    ================================================== -->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<!-- logo -->
			<a class="brand logo" href="index.html">
			<img src="assets/img/logo.png" alt="" />
			</a>
			<!-- end logo -->
			<!-- top menu -->
			<!-- end menu -->
		</div>
	</div>
</div>
</header>
<section id="intro">
<div class="jumbotron masthead">
	<div class="container">
		<!-- slider navigation -->
		<div class="sequence-nav">
			<div class="prev">
				<span></span>
			</div>
			<div class="next">
				<span></span>
			</div>
		</div>
		<!-- end slider navigation -->
		<div class="row">
			<div class="span12">
				<div id="slider_holder">
					<div id="sequence">
						<ul>
							<!-- Layer 1 -->
							<li>
							<!--div class="info animate-in">
								<h2>White Rabbit Press</h2>
								<br>
								<h3>Kanji & Kana Flashcards</h3>
								<p>
									Preferred by thousands of students, in over 80 countries, White Rabbit Press is the recognized world leader in Japanese kanji flashcards.
								</p>
								<a class="btn btn-success" target="_blank" href="http://shop.whiterabbitjapan.com/20-off-all-3-kanji-flashcard-sets.html">Learn more &raquo;</a>
							</div-->
							<img class="slider_img animate-in" src="assets/img/slides/sequence/img-1.png" alt="" />
							</li>
							<!-- Layer 2 -->
							<li>
							<div class="info animate-in">
								<h2>Kana Flashcards</h2>
								<br>
								<h3>Master Hiragana & Katakana</h3>
								<p>
									Makes studying easy with visual and verbal mnemonics. FREE audio pronunciation guide!
								</p>
								<a class="btn btn-success" target="_blank" href="http://shop.whiterabbitjapan.com/kana-flashcards.html">Learn more &raquo;</a>
							</div>
							<img class="slider_img" src="assets/img/slides/sequence/img-2.png" alt="" />
							</li>
							<!-- Layer 3 -->
							<li>
							<div class="info">
								<h2>Kanji Flashcards Vol 1</h2>
								<br>
								<h3>300 Basic Kanji</h3>
								<p>
									Suitable for beginning level students preparing for Levels N5 & N4 of the Japanese Language Proficiency Test. 
								</p>
								<a class="btn btn-success" target="_blank" href="http://shop.whiterabbitjapan.com/japanese-kanji-flashcards-series-2-volume-1.html">Learn more &raquo;</a>
							</div>
							<img class="slider_img" src="assets/img/slides/sequence/img-3.png" alt="" />
							</li>
							<!-- Layer 3 -->
							<li>
							<div class="info">
								<h2>Kanji Flashcards Vol 2</h2>
								<br>
								<h3>750 Intermediate Kanji</h3>
								<p>
									Suitable for intermediate level students preparing for Levels N3 and N2 of the Japanese Language Proficiency Test. 
								</p>
								<a class="btn btn-success" target="_blank" href="http://shop.whiterabbitjapan.com/japanese-kanji-flashcards-series-2-volume-2.html">Learn more &raquo;</a>
							</div>
							<img class="slider_img" src="assets/img/slides/sequence/img-4.png" alt="" />
							</li>
							<!-- Layer 3 -->
							<li>
							<div class="info">
								<h2>Kanji Flashcards Vol 3</h2>
								<br>
								<h3>895 Advanced Kanji</h3>
								<p>
									Suitable for advanced level students preparing for Level N1 of the Japanese Language Proficiency Test.
								</p>
								<a class="btn btn-success" target="_blank" href="http://shop.whiterabbitjapan.com/japanese-kanji-flashcards-series-2-volume-3.html">Learn more &raquo;</a>
							</div>
							<img class="slider_img" src="assets/img/slides/sequence/img-5.png" alt="" />
							</li>
						</ul>
					</div>
				</div>
				<!-- Sequence Slider::END-->
			</div>
		</div>
	</div>
</div>
</section>
<section id="maincontent">
<div class="container">
	<div class="row">
		<div class="span3 features">
			<h4>Information-Rich Design</h4>
			<div class="dotted_line">
			</div>
			<p class="left">
				 We've condensed all the information you need to master kanji into a compact, flashcards format - which makes learning and self-drills as efficient as possible. Each card includes kanji compound words, stroke-order diagrams, readings in kana scripts, look-alike characters and more!
			</p>
		</div>
		<div class="span3 features">
			<h4>Everyday Vocabulary</h4>
			<div class="dotted_line">
			</div>
			<p class="left">
				 Each card includes six vocabulary words which shows a variety of kanji readings and word forms. We use common, everyday words whenever possible, giving preference to words which have appeared on the JLPT. 
			</p>
		</div>
		<div class="span3 features">
			<h4>Readings in Kana</h4>
			<div class="dotted_line">
			</div>
			<p class="left">
				 We use kana for readings; not English. Master hiragana and katakana in a flash with our <a target="_blank" href="http://shop.whiterabbitjapan.com/kana-flashcards.html">Kana Flashcards</a> if you are not yet comfortable reading kana.
			</p>
		</div>
		<div class="span3 features">
			<h4>Quality Construction</h4>
			<div class="dotted_line">
			</div>
			<p class="left">
				 These beautifully designed poker-size kanji cards have rounded-corners and are coated with UV-varnish for increased durability. Reusable storage box with plastic tray. Includes a complete index.  
			</p>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="tagline centered">
				<div class="row">
					<div class="span12">
						<div class="tagline_text">
							<h2>20% off all 3 Kanji Flashcard Sets</h2>
							<p>
								Buy all three sets as a bundle and save 20%!
							</p>
						</div>
						<div class="btn-toolbar cta">
							<a class="btn btn-large btn-color" target="_blank" href="http://shop.whiterabbitjapan.com/20-off-all-3-kanji-flashcard-sets.html">
							<i class="icon-shopping-cart icon-white"></i> Visit Our Shop </a>
						</div>
					</div>
				</div>
			</div>
			<!-- end tagline -->
		</div>
	</div>
</div>
</section>
<!-- Footer
 ================================================== -->
<footer class="footer">
<div class="container">
	<div class="row">
		<div class="span3">
			<div class="widget">
				<h5>Our Products</h5>
				<ul class="regular">
					<li><a target="_blank" href="http://shop.whiterabbitjapan.com/kana-flashcards.html">Kana Flashcards</a></li>
					<li><a target="_blank" href="http://shop.whiterabbitjapan.com/japanese-kanji-flashcards-series-2-volume-1.html">Kanji Flashcards vol 1</a></li>
					<li><a target="_blank" href="http://shop.whiterabbitjapan.com/japanese-kanji-flashcards-series-2-volume-2.html">Kanji Flashcards vol 2</a></li>
					<li><a target="_blank" href="http://shop.whiterabbitjapan.com/japanese-kanji-flashcards-series-2-volume-3.html">Kanji Flashcards vol 3</a></li>
					<li><a target="_blank" href="http://shop.whiterabbitjapan.com/kanji-wall-poster.html">Kanji Wall Poster</a></li>
					<li><a target="_blank" href="http://shop.whiterabbitjapan.com/catalogsearch/result/?q=tokyo+realtime">Tokyo Realtime Audio Tours</a></li>
				</ul>
			</div>
		</div>
		<div class="span3">
			<div class="widget">
				<h5>Our Sites</h5>
				<ul class="regular">
					<li><a href="http://whiterabbitjapan.com/">White Rabbit Japan</a></li>
					<li><a href="http://shop.whiterabbitjapan.com/">WRJ Online Shop</a></li>
					<li><a href="http://whiterabbitexpress.com/">White Rabbit Express</a></li>
					<li><a href="http://tokyorealtime.com/">Tokyo Realtime</a></li>
					<li><a href="http://community.whiterabbitjapan.com">Community Forums</a></li>
				</ul>
			</div>
		</div>
		<div class="span3">
			<div class="widget">
				<h5>Latest tweets</h5>
				<div class="twitter">
				</div>
				<script type="text/javascript">
						$(document).ready(function(){
						   //TWITTER
							$(".twitter").tweet({
								  join_text: "auto",
								  username: "WhiteRabbitJpn",
								  avatar_size: 20,
								  count: 1,
								  auto_join_text_default: "we said,",
								  auto_join_text_ed: "we",
								  auto_join_text_ing: "we were",
								  auto_join_text_reply: "we replied",
								  auto_join_text_url: "WRJ:",
								  loading_text: "loading tweets..."
							});
						});
					</script>
			</div>
		</div>
		<div class="span3">
			<div class="widget">
				<!-- logo -->
				<a class="brand logo" href="index.html">
				<img src="assets/img/logo-dark.png" alt="" />
				</a>
				<!-- end logo -->
				<!--address>
				<strong>Registered Companyname, Inc.</strong><br>
				 8895 Somename Ave, Suite 600<br>
				 San Francisco, CA 94107<br>
				<abbr title="Phone">P:</abbr> (123) 456-7890 </address-->
			</div>
		</div>
	</div>
</div>
<div class="verybottom">
	<div class="container">
		<div class="row">
			<div class="span6">
				<p>
					&copy; White Rabbit Japan - All rights reserved
				</p>
			</div>
			<div class="span6">
			</div>
		</div>
	</div>
</div>
</footer>
</body>
</html>