<div class="wrj-header">
	<div class="wrj-container">
		<h1 class="wrjlogo ir">White Rabbit Japan</h1>
		<ul class="big-nav">
			<li class="on"><a href="http://whiterabbitjapan.com">Home</li>
			<li><a href="http://whiterabbitexpress.com">Services</a></li>
			<li><a href="http://shop.whiterabbitjapan.com">Shop</a></li>
			<li><a href="http://community.whiterabbitjapan.com">Community Forums</a></li>
			<li><a href="http://shop.whiterabbitjapan.com/affiliate/affiliates/">Affiliates</a></li>
			<li><a href="http://help.whiterabbitjapan.com">Help</a></li>
		</ul> 
	</div><!-- wrj-container -->
		
	</div>
	<div class="wrj-header wrj-header-nav">
		<div class="wrj-container">
			<select class="small-nav">
			    <option value="" selected="selected">Go To</option> 
			    <option value="http://whiterabbitexpress.com">Services</option>
			    <option value="http://shop.whiterabbitjapan.com">Shop</option>
			    <option value="http://community.whiterabbitjapan.com">Community Forums</option>
			    <!--option value="http://shop.whiterabbitjapan.com/affiliate/affiliates/">Affiliates</option-->
			    <option value="http://help.whiterabbitjapan.com">Help</option>
			</select>
		</div><!-- wrj-container -->
	</div><!-- header header-nav -->
</div><!-- wrj-header -->








	<div class="wrj_header">
		<div class="wrj_container">
			<h1 class="wrj_logo wrj_ir">White Rabbit Japan</h1>
			<ul class="wrj-big-nav">
				<li><a href="http://whiterabbitjapan.com">Home</a></li>	
				<li><a href="http://whiterabbitexpress.com">Services</a></li>
				<li class="on"><a href="http://shop.whiterabbitjapan.com">Shop</a></li>
				<li><a href="http://community.whiterabbitjapan.com">Community Forums</a></li>
				<li><a href="http://shop.whiterabbitjapan.com/affiliate/affiliates/">Affiliates</a></li>
				<li><a href="http://help.whiterabbitjapan.com">Help</a></li>
			</ul> 
		</div><!-- container -->
		
	</div>
